/* code for all page elements styling*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* body elements background color */
body {
  background-color: #d9dcd6;
}
/* header styling */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
  text-align: left;
  list-style-type: none;
}
/* header text styling */
.header h1 {
  display: inline-block;
  font-size: 48px;
}
/* seperate styling for SEO portion of header text */
.header h1 .seo {
  color: #d9dcd6;
}
/* header section styling */
.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/* unordered list styling */
ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
/* Unordered list element styling */
.header div ul li {
  display: inline-block;
  margin-left: 25px;
  list-style-type: none;
}

/* anchor element styling */
a {
  color: #ffffff;
  text-decoration: none;
}
/* paragraph styling */
p {
  font-size: 16px;
}
/* header background image styling */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  background-image: url("./digital-marketing-meeting.jpg");
}
/* image placement styling */
.float-left {
  float: left;
  margin-right: 25px;
}
/* image placement styling */
.float-right {
  float: right;
  margin-left: 25px;
}
/* main page content styling */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* benefits aside box styling */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/* aside box styling */
.benefit {
  margin-bottom: 32px;
  color: #ffffff;
}
/* aside box header styling */
.benefit-h3 {
  margin-bottom: 10px;
  text-align: center;
}
/* aside image styling */
.benefit-h3 img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* main body styling for individual boxes of content */
.content-style {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* image styling for main body content boxes */
.content-style img {
  max-height: 200px;
}
/* header styling for main body content boxes */
.content-style h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* footer styling */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/* footer font size */
.footer h2 {
  font-size: 20px;
}
